/ConcurrentProgramming/Exercise2/Smalltalk/nbproject/private/
/ConcurrentProgramming/Exercise2/Smalltalk/build/
/ConcurrentProgramming/Exercise2/TestRMI/nbproject/private/
/ConcurrentProgramming/Exercise2/TestRMI/build/
/ConcurrentProgramming/Exercise2/Smalltalk/dist/