/ConcurrentProgramming/Exercise2/Smalltalk/nbproject/private/
/ConcurrentProgramming/Exercise2/Smalltalk/build/
/ConcurrentProgramming/Exercise2/TestRMI/nbproject/private/
/ConcurrentProgramming/Exercise2/TestRMI/build/
/ConcurrentProgramming/Exercise2/Smalltalk/dist/
/ConcurrentProgramming/Exercise2/BoundedBuffer/nbproject/private/
/ConcurrentProgramming/Exercise2/BoundedBuffer/build/
/ConcurrentProgramming/Exercise2/BoundedBuffer/dist/
/ConcurrentProgramming/Exercise2/BufferExtended/nbproject/private/
/ConcurrentProgramming/Exercise2/BufferExtended/build/
/ConcurrentProgramming/Exercise2/BufferExtended/dist/
*.out
*.class
*.DS_Store
*.hi
*.o
/ConcurrentProgramming/Exercise2/analyzeFacbook/nbproject/private/
/ConcurrentProgramming/Exercise2/analyzeFacbook/build/
/ConcurrentProgramming/Exercise2/SazibTest/nbproject/private/
/ConcurrentProgramming/Exercise2/SazibTest/build/